body {
    width: 100%;
    height: 100%;
    background-image: url('images/lol_background.jpg');
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

main {
    width: 15%;
    max-width: 1600px;
    min-width: 800px;
    min-height: 100%;
    border: 0.2cm groove;
    background-color: lavender;
    padding: 0cm 1cm 20cm 1cm;
    margin: auto;

}

nav {
    border: 0.15cm solid;
    background-color:aquamarine;
    width: 50%;
    margin: auto;
    font-size: 30px;
    color: #000000;
    

}



nav ul {
    list-style-type: none;
    margin:auto;
    padding: 0;
    overflow: hidden;
    background-color: #c6fec6;
    text-align: center;

}

nav ul li{
    list-style-type: none;
    text-align: center;
    display: inline;
    margin: 4px 2px 2px 4px
    

}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover {
    
    background-color: lavender;

}

h1 {
    text-align: center;
    color: #7a4141;


}

h2 {
    font-size: 200%;
    color:purple

}

h3 {
    font-size: 175%;
    color:rgb(249, 85, 85)

}

p {
    font-size: 125%;
    

}
ul li{
    text-decoration: none;
}

a{
    text-decoration: none;
    color:blue;

}

footer {
    color: #90ba90;

}
