body {
    width: 100%;
    height: 100%;
    background-image: url('images/lol_background.jpg');
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

main {
    width: 15%;
    max-width: 1600px;
    min-width: 800px;
    min-height: 100%;
    border: 0.2cm groove;
    background-color: lavender;
    padding: 0cm 1cm 20cm 1cm;
    margin: auto;

}

h1 {
    text-align: center;
    color: #7a4141;


}

h2 {
    font-size: 200%;
    color:purple

}

h3 {
    font-size: 175%;
    color:rgb(249, 85, 85)

}

p {
    font-size: 125%;
    

}
ul li{
    text-decoration: none;
}

a{
    text-decoration: none;
    color:blue;

}

footer {
    color: #90ba90;

}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}