body {font-family:'Times New Roman', Times, serif ;

}

h1{text-align: center;

}

h2{ text-align: center;

}

h3{text-align: center;
    
}

h4{text-align: center;

}

ol{color: rgb(14, 14, 133);}

header{text-align: center;}