body {
    background-color: #d2e5df;
    color:azure;
    font-size: 24px;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #2193bb;
    color:azure;
    text-align: center;
    box-shadow: 0 4px 12px rgb(0,0,0)

}

nav ul {
    display:flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color:aliceblue;
    padding: 10px 0px;
    position: relative;
    font-size: 18px;
}

nav ul li a:active {
    color:rgb(206, 17, 184);
}

nav ul li a:hover {
    color:#ffb305;

}

main {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: 14px;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1600px;
    margin: 0;
    padding: 0;
}

.flex-item-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.flex-item-right {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 32px;
  color: #2193bb;
  margin-bottom: 14px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 6px;
  border: 2px solid #2193bb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: inherit;
  width: 100%;


}


h2 a {
    text-decoration: none;
    display:block;  

}

h2 a:hover {
    color: #2193bb
}

img {
  width: 1000px;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgb(0,0,0);
}

footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 4px 12px rgb(0, 0, 0);
    width: 100%;
}


@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        gap: 30px;
    }
    .flex-item-left {
        width: 90%;
    }
    .flex-item-right {
        width: 90%;
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        padding: 10px 15px;
    }
}

@media (max-width: 768px) {
  img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  img {
    width: 90%;
    height: auto;
  }
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  color:#000;


}

.content-table th {
    background-color: rgb(80, 237, 237);
    text-align: left;
    font-weight: bold;
    border: 3px solid #000;
    text-align: center;
}

tr {
    margin: 0;
    font-size: 25px;
    border-left: 3px solid #000;

}

td {
    padding:  8px 10px;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}

th {
    padding:  8px 10px;
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    padding-left: 3px #000;

}

tbody tr:nth-child(1) {
    background-color: rgb(255,127,128);
}

tbody tr:nth-child(2) {
    background-color: rgb(255,192,127);

}

tbody tr:nth-child(3) {
    background-color: rgb(255,223,128);
}

tbody tr:nth-child(4) {
    background-color: rgb(255,255,127);
}

tfoot tr:nth-child(1) {
    background-color: rgb(191,255,127);
}

.CSS-image .insert-image {
  width: 800px;
  height: 500px;
  background-image: url('images/lab10SS.png');
  background-size: cover;
  background-position: center;
}

ol {
  margin: 0px;
  color: #000;
  font-size: 18px;
  width: 100%;
  display: block;
}

ol li {
  padding: 8px;
  margin: 8px 0;
  background-color: #f9f9f9;
  border-radius: 6px;
  box-shadow: 0 3px 4px rgb(0,0,0)
}

ol li a {
  text-decoration: none;
  color: inherit;
  display:block;
}

ol li a:hover {
  color:#2193bb;
}

p {
  color: #212121;
  font-size: 16px;
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #f5f5f5;
  border: 2.5px solid #2193bb;
  border-radius: 6px;
}

p a{
  text-decoration: none;
  display:block;
}

p a:hover {
  color: #2193bb
}